{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center">Inscription</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">S'inscrire</button>
                </form>
                <p class="mt-3"><a href="{% url 'connexion' %}">Déjà inscrit ? Connectez-vous ici</a></p>
            </div>
        </div>
    </div>
{% endblock %}

