{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cybersecurity Blog{% endblock %}</title>
    
    <!-- Incluez les fichiers CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <!-- Incluez les fichiers JavaScript Bootstrap et jQuery (si nécessaire) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <!-- Barre de navigation Bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Cybersecurity Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Accueil</a>
                </li>
                {% if user.is_authenticated and user.auteur %}
                <li class="nav-item">
                     <a href="{% url 'creer_article' %}" class="btn btn-success">Créer un article</a>
                </li>     
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'liste_articles' %}">Articles</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'formulaire_contact' %}" class="btn btn-success">contact</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'a_propos' %}">À propos</a>
                </li>
                
            </ul>
            
            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ user.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'deconnexion' %}">Déconnexion</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'connexion' %}">Se Connecter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inscription' %}">S'Inscrire</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>

    <!-- Contenu de la page -->
    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>

    <!-- Pied de page Bootstrap -->
    <footer class="bg-dark text-light py-4">
        <p><nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a href="{% url 'liste_articles' %}" class="btn btn-primary">Cybersecurity Blog</a>
            </nav>
        </p>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Nos contacts</h4>
                    <p>Adresse : DAKAR</p>
                    <p>Email : 1youssou.ndiaye@gmail.com</p>
                    <p>Téléphone : +221 77 853 94 93</p>
                </div>
                <div class="col-md-4">
                    <h4>Nos réseaux sociaux</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://www.youtube.com/@XaralaAcademy"><i class="fab fa-youtube"></i> YouTube</a></li>
                        <li><a href="https://web.facebook.com/youssou.ndiaye.1654/"><i class="fab fa-facebook"></i> Facebook</a></li>
                        <li><a href="https://www.linkedin.com/in/youssou-ndiaye-24020a213/"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                        <li><a href="https://twitter.com/youssou56185966l"><i class="fab fa-twitter"></i> Twitter</a></li>
                        <li><a href="https://www.instagram.com/yousseph00/"><i class="fab fa-instagram"></i> Instagram</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>Liens utiles</h4>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'formulaire_contact' %}">Contact</a></li>
                        <li><a href="{% url 'a_propos' %}">À propos</a></li>
                        <li><p>&copy; 2023 Cybersecurity Blog</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>    
</body>
</html>
